@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  background: darkgray;
  background-size: cover;
  color: lightgray;
  font-family: "Fira Sans", sans-serif;
}

#root {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: 1fr auto;
}

h1,
h2 {
  @apply text-4xl text-center;
}

h3 {
  @apply text-lg;
}

p {
  @apply text-xl;
}
