@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

body {
  background: darkgray;
  color: lightgray;
  font-family: "Fira Sans", sans-serif;
  transition-duration: 150ms;
}

* {
  @apply duration-150;
}

.dark body {
  background: #505050;
}

#root {
  @apply grid min-h-dvh;
  grid-template-rows: 1fr auto;
}

h1,
h2 {
  @apply mb-4 text-center text-4xl;
}

h3 {
  @apply text-lg;
}

p {
  @apply text-xl;
}
